<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placehoder: "New Password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" , placehoder: "Current Password"%>
  </div>
    
  <div class="field">
    <%= f.text_field :firstname, autocomplete: "first name", placehoder: "First name" %>
  </div>

    <div class="field">

    <%= f.text_field :lastname, autocomplete: "last name", placehoder: "Last name" %>
  </div>

    <div class="field">

    <%= f.number_field :age, autocomplete: "age", placehoder: "Age" %>
  </div>

    <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday, autocomplete: "birthday", placehoder: "Birthday" %>
  </div>

    <div class="field">

    <%= f.text_field :favorite_movie, autocomplete: "favorite movie", placehoder: "Favorite Movie" %>
  </div>

    <div class="field">
    <%= f.text_field :favorite_actor, autocomplete: "favorite actor", placehoder: "Favorite Actor" %>
  </div>

    <div class="field">
    <%= f.text_field :favorite_genre, autocomplete: "favorite movie", placehoder: "Favorite Genre" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
