

<!-- Comment form-->
<br>
<%= form_with model: @newcomment, local: true, url: '/create_comment' do |form|%>

<p>
<%= hidden_field_tag(:user_id, @currentUser) %>
</p>

<p>
<%= hidden_field_tag(:movie_id, @movie_id) %>
</p>


<p>
<%= form.label :comments%><br>
<%= form.text_field (:content)%>
</p>

<p>
<%=form.submit 'submit' %>
</p>

<%end%>