<%= form_tag(movies_path, method: :get ) do  %>
    <%= text_field_tag(:search, params[:search], :placeholder => "enter movie") %><%=  submit_tag ("Search"), :class => 'btn' %>
<% end %>





<%= render partial: 'comment_form' %>


<h2>Comments</h2>

<%@comments.each do |comment|%>
<ul>
<li><%=comment.user.firstname%></li>
<li><%=comment.content%></li>

</ul>

<%end%>
