<%= form_tag(movies_path, method: :get ) do  %>
    <%= text_field_tag(:search, params[:search], :placeholder => "enter movie") %><%=  submit_tag ("Search"), :class => 'btn' %>
<% end %>
<li><img src="<%= @response["Poster"] %>"></li>
<li><%= @response["Title"] %></li>
<li><%= @response["Year"] %></li>
<li><%= @response["Runtime"] %></li>
<li><%= @response["Genre"] %></li>
<li><%= @response["Actors"] %></li>
<li><%= @response["Plot"] %></li>



<%= render partial: 'comment_form' %>

<h2>Comments</h2>

<%@comments.each do |comment|%>
<ul>
<li><%=comment.content%></li>
</ul>
<%end%>