<div>

Title:<li><%= @response["Title"] %></li>
Year: <li><%= @response["Year"] %></li>
Runtime: <li><%= @response["Runtime"] %></li>
Genre: <li><%= @response["Genre"] %></li>
Actors: <li><%= @response["Actors"] %></li>
Plot: <li><%= @response["Plot"] %></li>

</div>