<section class="">
  <div class="hero-body">
    <class class="container">
      <figure class="image">
        <img src="<%= @response["Poster"] %>" style="max-width: 512px;">
      </figure>
      <div>
      Title:<li><%= @response["Title"] %></li>
      Year: <li><%= @response["Year"] %></li>
      Runtime: <li><%= @response["Runtime"] %></li>
      Genre: <li><%= @response["Genre"] %></li>
      Actors: <li><%= @response["Actors"] %></li>
      Plot: <li><%= @response["Plot"] %></li>
      </div>
    </class>
  </div>
</section>








<div><!-- Movie Poster & detail section -->
<li>
<img src="<%= @response["Poster"] %>"></li>
Title:<li><%= @response["Title"] %></li>
Year: <li><%= @response["Year"] %></li>
Runtime: <li><%= @response["Runtime"] %></li>
Genre: <li><%= @response["Genre"] %></li>
Actors: <li><%= @response["Actors"] %></li>
Plot: <li><%= @response["Plot"] %></li>
</div>



<%= render partial: 'add_movie_form'%>
<%= render partial: 'comment_form' %>


<div> <!-- Comments section --> 


<%@comments.each do |comment|%>
<ul>


<li><%=comment.user.firstname%></li>
<li><%=comment.content%></li>

</ul>
<%end%>
</div>