Title:<li><%= @response["Title"] %></li>
Year: <li><%= @response["Year"] %></li>
<li><%= @response["Runtime"] %></li>
<li><%= @response["Genre"] %></li>
<li><%= @response["Actors"] %></li>
<li><%= @response["Plot"] %></li>