<section class="">
 
    
    <class class="container level">
      <div class="hero-body ">
        <figure class="image box-shadow">
          <img src="<%= @response["Poster"] %>" style="max-width: 512px;">
          <center><%= link_to "Back", :back %></center>
        </figure>
        
      </div>
      
        <div class="columns>
          <div class="is-half is-offset-6">
            <div class="level-item yourboy">
              <p class="title"><strong>Title:</strong> &nbsp;<%= @response["Title"] %></p>
            </div>
            <br>
            <div class="level-item">
              <p class="subtitle"><strong>Year:</strong> &nbsp;<%= @response["Year"] %></p>
            </div>
            <br>
            <div class="level-item">
              <p class="subtitle"><strong>Runtime:</strong> &nbsp;<%= @response["Runtime"] %></p>
            </div>
            <br>
            <div class="level-item">
              <p class="subtitle"><strong>Genre:</strong> &nbsp;<%= @response["Genre"] %></p>
            </div>
            <br>
            <div class="level-item">
              <p class="subtitle"><strong>Actors:</strong> &nbsp;<%= @response["Actors"] %></p>
            </div>
            <br>
            <div class="level-item yourboy" >
              <p class="subtitle is-centered"><strong>Plot:</strong> &nbsp;<%= @response["Plot"] %></p>
            </div>
          </div>
        </div>
      </div>
    </class>
  </div>
</section>

<center>
<div class="addmovie">
<h2><strong>Add Movie to Calendar</strong></h2>
<%= render partial: 'add_movie_form'%>
</div>
</center>




<div class="box">
<div class="box comment">
<%= render partial: 'comment_form' %>
</div>

<article class="media">
  <%@comments.each do |comment|%>
    <div class="media-content">
    
      <div class="content">
      
        <p>
          <strong><%=comment.user.firstname%></strong> <small><%=comment.user.email%></small> 
          <br>
          <%=comment.content%>
        </p>
      </div>
      <%if @currentUser == comment.user_id%>
      <%= link_to "delete comment", delete_comment_path(id: comment.id), method: :delete %>
      <%end%>
    <%end%>
    </div>
  </article>
 
</div>

