<div class="div-inner">
  <div class="title-div"><h3>Profile</h3></div>
    <div id="usershow-table-div" class="table-div">
      <div class = "info-container">
        <div class="profile-border">
          <div class="display-info">
            <div class="line">
              <div class="bold">Fullname</div><div class="info-font"><%= @user.firstname %> <%= @user.lastname %></div>
            </div>
            <div class="line">
              <div class="bold">Age</div><div class="info-font"><%= @user.age%></div>
            </div>
            <div class="line">
              <div class="bold">Birthday</div><div class="info-font"><%= @user.birthday%></div>
            </div>


            <div class="line">
              <div class="bold">Favorite Movie</div><div class="info-font"><%= @user.favorite_movie%></div>
            </div>


            <div class="line">
              <div class="bold">Favorite Actor</div><div class="info-font"><%= @user.favorite_actor%></div>
            </div>


            <div class="line"></div>
              <div class="bold">Favorite Genre</div>
              <div class="font-info"><%= @user.favorite_genre%></div>
            </div>


          </div>
        </div>
      </div>
    </div>
</div>











<% @movies.each do |movie|%>
<%= movie.setdate.to_s%>
<%end%>


<%= month_calendar do |date| %>
  <%= date %>
  <% date_string = date.to_s%>
  <% birthday_string = @user.birthday.to_s%>
  <%@movies.each do |movie| %>
    <% setdate_string = movie.setdate%>
    <% if date_string == setdate_string%>
    <%= @user.firstname%>
    <%= @response["title"]%>
    <%end%>
  <%end%>
<% end %>

<%= month_calendar do |date| %>
  <%= date%>
  <% date_string = date.to_s%>
  <% @movies.each do |movie|%>
  <% setdate_string = movie.setdate.to_s%>
  <% if date_string == setdate_string%>
    <%= movie.movietitle%>
    <img src="<%=movie.movieposter%>">
  <%end%>
<%end%>
<%end%>