

<div>
<ul>
<li>Fullname: <%= "#{@user.firstname} #{@user.lastname}"%></li>

<li>Age: <%= @user.age%></li>
<li>Birthday: <%= @user.birthday%></li>
<li>Favorite Movie: <%= @user.favorite_movie%></li>
<li>Favorite Actor: <%= @user.favorite_actor%></li>
<li>Favorite Genre: <%= @user.favorite_genre%></li>
</ul>
</div>