<!DOCTYPE html>
<html>
  <head>
    <title>MovieVerse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="debug.css" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <!-- Navbar -->

    <section class="hero is-dark is-bold">
      <div class="hero-head">
        <nav class="navbar is-primary" role="navigation" aria-label="Main navigation">
          <div class="container">

            <% if user_signed_in? %>

            <div class="navbar-brand">
              <a href="/" class="navbar-item title is-marginless">Home</a>
              <a href="/users/edit" class="navbar-item subtitle is-marginless">Edit Profile</a>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"navbar-item subtitle is-marginless"  %>
              <button class="button navbar-burger" data-target="">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="navbar-menu" id="navMenu">
      
              <div class="navbar-end">
                <%= form_tag(shows_path, :method => "get") do %>  
                <%= search_field_tag :movie_title, params[:movie_title], placeholder: "Search for Movie", class: "form-control subtitle navbar-item has-text-black" %>  
                <%= button_tag "Go", :name => nil, class: "button is-primary is-marginless"%>  
                  <% end %>
              </div>
            </div>

            <% else %>
            <div class="navbar-brand">
              <a href="/" class="navbar-item title is-marginless">Home</a>
              <button class="button navbar-burger" data-target="">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="navbar-menu" id="navMenu">
      
              <div class="navbar-end">
               <a href="/users/sign_up" class="navbar-item subtitle is-marginless">Sign Up</a>
               <a href="/users/sign_in" class="navbar-item subtitle is-marginless">Login</a> 
              </div>
            </div>

            <% end %>

          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Welcome to MovieVerse</h1>
          <h2 class="subtitle">You are logged in as <strong><%= current_user.email %></strong></h2>
        </div>
      </div>
    
    </section>

    
    
  


    <%= yield %>
  </body>
</html>
